.classpath
.project
.settings
.idea
BuildConfig.groovy
*.iws
*.iml
*.ipr
studentlife-grailsPlugins.iml
target
lib
FacebookConfig.groovy
build
*~
classes
*.launch
*.tmproj
*.pyc
web-app/plugins
test/reports
stacktrace.log
facebook.groovy
*.ser
database
