.classpath
.project
.settings
.idea
BuildConfig.groovy
studentlife.iws
studentlife.iml
studentlife.ipr
studentlife-grailsPlugins.iml
target
lib
FacebookConfig.groovy
build
*~
classes
*.launch
*.tmproj
*.pyc
web-app/plugins
test/reports
stacktrace.log
