#courseElements {
	width: 25%;
}

#calendar {
	left: 27%;
	height: 100%;
	width: 73%;
}

table{
    width:100%;
    height:300px;
}

#ad{
 left: 27%;   
}

.todo {
	background-color: blue;
}

.event {
	background-color: green;
}

.both {
	background-color: red;
}

#courseElements p{
    display:inline;
}

#courseElements ul{
    padding:0px;
}

#courseElements li{
    list-style:none;
    font-size:smaller;
    border-bottom: 1px solid #3399CC;
    border-collapse:collapse;
    margin:2px;
}

#dates{
    top:150px;
}