#courseElements {
	width: 154px;
}

#calendar {
	left: 178px;
	height: 100%;
	width: 565px;
}

table{
    width:350px;
    height:300px;
}

.todo {
	background-color: blue;
}

.event {
	background-color: green;
}

.both {
	background-color: red;
}