   body, div, img {
      position:absolute;
   }
   .typeface-js {
      font-family: Apex New;
   }

   body {
      width:760;
      height:578;
      background-color:white;
  }
  #logo {
    right:22px;
    top:15px; 
  }
  #showCourses{
    width:154px;
    background-color:white;
    max-height:447px;
    height: 100%;
  }
  
  #showCourse {
    background-color:GREEN;
    height: 352px;
    width:363px;
  }
  
  #showCourse form, #showCourse input{
    width: 100%;
  }
  
  #showColleagues {
    right:23px;
    width:154px;
    max-height:256px;
    background-color:BLUE;
    height: 300px;
    border: 1px solid black;
  }
  
  #course{
    left: 178px;
    height:505px;
    width:565px;
  }
  
  #content{
    left:17px;
    top: 73px;
    height: 100%;
    width: 760px;
  }
  
  #menu{
    top:32px;
    left:17px;
    height:14px;
    width: 493px;
    background-color:white;
    background-image:url(../images/bg-menu.png);
    background-repeat:repeat-x;
  }
  #ad{
    top:372px;
    left:195px;
  }
  #leftmenu {
    left:0px;
  }

  #rightmenu {
    right:0px;
  }

  .menuimage {
    position:static;
    padding-bottom: 5px;
    padding: 3, 0, 0, 1;
    border-style: none;
  }
  
  #menu a{
  border-style: none;
  }
  
  .ad-line {
    background-image:url(../images/bg-adcontainer.png);
    background-repeat:repeat-x;
    margin: 
  }
  .ad-item {
    position:static;
  }
  #adlogo {
    margin:2 0 2 0;
  }

