  body {
      font-size : 13;
      font-family: "Verdana", "sans-serif";
  } 
  body, div, img {
      position:absolute;
   }
   .typeface-js {
      font-family: Apex New;
      font-size: 13; 
   }

   #main {
      width:760;
      height:578;
      background-color:white;
  }
  #logo {
    right:22px;
    top:15px; 
  }
  #left{
    top:73px;
    left:17px;
    width:154px;
    background-color:white;
    max-height:447px;
    height: 100%;
  }
  #right {
    top:73px;
    right:23px;
    width:154px;
    max-height:256px;
    background-color:white;
    height: 100%;
  }
  #middle {
    top: 73px;
    left: 195px;
    background-color:GREEN;
    height: 352px;
    width:363px;
  }
  #menu{
    top:32px;
    left:17px;
    height:14px;
    width: 493px;
    background-color:white;
    background-image:url(../images/bg-menu.png);
    background-repeat:repeat-x;
  }
  #ad{
    top:445px;
    left:195px;
  }
  #leftmenu {
    left:0px;
  }

  #rightmenu {
    right:0px;
  }

  .course-item {
    background-image:url(../images/columnborder.png);
    background-position:bottom left;
    background-repeat: no-repeat;
    margin:0 0 1 0px;
  }

  .menuimage {
    position:static;
    padding-bottom: 5px;
  }
  .ad-line {
    background-image:url(../images/bg-adcontainer.png);
    background-repeat:repeat-x;
    margin: 
  }
  .ad-item {
    position:static;
  }
  #adlogo {
    margin:2 0 2 0;
  }

  #attending_list {
    list-style-type:none;
    padding: 0;
    margin-left: 0;
    position:relative;	
    
  }
  .attending-item {
    height: 52px;
  }

  .attending-image {
    position:relative;
    left:5px;
    top: 5px;

    width: 30px;
    height: 52px;
    margin: 0 4 0 1;
    float:left;
    
  }

  .attending-box {
    position:relative;
    left:5px;
  }

  .attending-name {
    position:relative;
    color: #264393;
    padding: 2 0 0 0;
    top: 2px;
  }
  .attending-info {
    position:relative;
    padding: 2 0 0 0;
    
  }
  .addlink {
    position:relative;
/*
    left:42px;
    top:100px;
*/
  }


