.typeface-js {
   font-family: Apex New;
   font-size: 13;
}

.course-item {
   background-image: url(../images/columnborder.png);
   background-position: bottom left;
   background-repeat: no-repeat;
   margin: 0 0 1 0px;
}

.menuimage {
   position: relative;
   padding-bottom: 5px;
   padding: 3, 0, 0, 1;
   border-style: none;
}

#menu a {
   border-style: none;
}

#item {
   width: 250px;
}