@CHARSET "UTF-8";

#subContent {
   width: 550px;
   float: right;
}

.wall_li {
   background-repeat: no-repeat;
   background-position: 0px 5px;
   padding-left: 50px;
   min-height:60px;
}

h3 {
   margin: 0px;
   font-size: small;;
}

.wall_ul {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.zero_m_p {
   margin: 0px;
   padding: 0px;
}